/* css 시작 */
html {scroll-behavior:smooth;}/* 스크롤 애니메이션 효과 */
#wrap {
    width:100%; min-width:320px; margin:0 auto;
}
#wrap #cover {
    background:linear-gradient(135deg, #fff, #ddd);
    height:100vh;
}
#wrap #cover .title {
    width:100%; height:100%;
    display:flex; flex-flow:column nowrap;
    justify-content:center; align-items:center; gap:30px;
}
#wrap #cover .title .title_top {position:relative;}
#wrap #cover .title .title_top h1 {
    font-family: 'Daehan-Bold'; font-size:9.38rem; color:#2E69A0;
}
#wrap #cover .title .title_top span {
    font-family: 'Daehan-Bold'; font-size:4.06rem; color:#ccc;
    position:absolute; right:-23%; top:0;
}
#wrap #cover .title .title_bottom {
    display:flex; gap:15px; align-items:center;
}
#wrap #cover .title .title_bottom h2 {
    font-family: 'Daehan-Regular'; font-size:1.5rem; color:#888;
}
#wrap #cover .title .title_bottom span {
    display:block; width:1px; height:12px; background:#888;
}
/* ----------------------------------------------------------------profile */
#wrap #profile {width:100%; height:100vh; padding:160px 300px;}
#wrap #profile .profile_inner {display:flex; justify-content:space-between; gap:150px;}
#wrap #profile .profile_inner * h2 {font-family: 'Daehan-Bold'; font-size:1.13rem; color:#2E69A0; margin-bottom:20px;}
#wrap #profile .profile_inner * dl {display:flex; flex-flow:row nowrap;}
#wrap #profile .profile_inner * dt {
    font-size:0.88rem; color:#888; font-weight:300; margin-bottom:20px;
    width:70px; line-height:1.4;
}
#wrap #profile .profile_inner * dd,
#wrap #profile .profile_inner * dd a {font-size:1rem; color:#444; margin-bottom:20px;}
#wrap #profile .profile_inner .container {
    flex:240px 1fr 1fr; height:580px;
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
#wrap #profile .profile_inner .profile_intro {align-items:center;}
#wrap #profile .profile_inner .profile_intro h2 {
    font-family: 'Daehan-Bold'; font-size:1.88rem; color:#2E69A0; line-height:1.5; text-align:center; margin-bottom:0;
}
#wrap #profile .profile_inner .profile_intro .profile_photo {
    width:240px; height:307px; border-radius:200px; overflow:hidden;
}
#wrap #profile .profile_inner .profile_intro .profile_photo img {width:100%;}
#wrap #profile .profile_inner .profile_intro .profile_contents p {
    font-weight:300; color:#555; line-height:1.5; text-align:center;
    margin-bottom:5px;
}
#wrap #profile .profile_inner .profile_intro .profile_contents p span {font-weight:500;}
#wrap #profile .profile_inner .profile_intro .profile_contents .profile_name {
    display:flex; flex-flow:row nowrap; justify-content:center; gap:3px;
}
#wrap #profile .profile_inner .profile_intro .profile_contents .profile_name span {
    color:#2E69A0; font-size:1.5rem; font-weight:400;
}
#wrap #profile .profile_inner .profile_intro .profile_contents .profile_name p {
    font-weight:300; color:#555; font-size:1.25rem; line-height:24px;
}
#wrap #profile .profile_inner .profile_info .info_me .about_me dl:last-child .contect_list dd {
    display:flex; align-items:center;
}
#wrap #profile .profile_inner .profile_info .info_me .about_me dl:last-child .contect_list dd img {
    margin-right:5px;
}
#wrap #profile .profile_inner .profile_side .info_experience .experience_list dl .experience_sanbo {
    display:flex; flex-flow:column nowrap; gap:8px;
}
#wrap #profile .profile_inner .profile_info .info_certification .certification_list dl:last-child dd,
#wrap #profile .profile_inner .profile_info .info_certification .certification_list dl:last-child dt,
#wrap #profile .profile_inner .profile_side .info_education .education_list dl:first-child dd {line-height:1.4;}
#wrap #profile .profile_inner .profile_side .info_experience .experience_list dl .experience_sanbo dd:first-child {margin-bottom:0;}
#wrap #profile .profile_inner .profile_side .info_experience .experience_list dl .experience_sanbo dd:last-child {font-size:0.88rem; color:#888;}
#wrap #profile .profile_inner .profile_side .info_skill .skill_list {
    display:flex; flex-flow:column nowrap; gap:10px;
}
#wrap #profile .profile_inner .profile_side .info_skill .skill_list ul {
    display:flex; gap:15px;
}
#wrap #profile .profile_inner .profile_side .info_skill .skill_list ul li {
    width:40px; height:40px; border-radius:40px; border:1px solid #d9d9d9;
    display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;
}
#wrap #profile .profile_inner .profile_side .info_skill .skill_list ul li img {}
/* ----------------------------------------------------------------index */
#wrap #index {
    display:flex; flex-flow:row nowrap; 
}
#wrap #index .index_container {
    width:calc(100% / 5); flex:1; height:100vh;
    background-position:center; background-size:cover;
    background-repeat:no-repeat;
    padding:80px 0;
    display:flex; flex-flow:column nowrap; 
    justify-content:space-between; align-items:center;
}
#wrap #index .index_container h2 {
    font-family: 'Daehan-Bold'; font-size:3.13rem;
    color:#fff;
}
#wrap #index .index1 h2 {color: #2E69A0; font-size:2.5rem;}
#wrap #index .index_container .index_contents {
    display:flex; gap:10px; justify-content:center; align-items:center;
}
#wrap #index .index_container .index_contents .index_title {
    display:flex; gap:5px; justify-content:center; align-items:center;
}
#wrap #index .index_container .index_contents .index_title h3 {
    font-size:0.88rem; font-weight:500; color:#fff;
}
#wrap #index .index_container .index_contents .index_title p {
    font-size:0.75rem; font-weight:300; color:#fff;
}
#wrap #index .index_container .index_contents span {
    font-size:1.25rem; font-weight:600; color:#DDEEFD;
}
#wrap #index .index5 .index_contents span {color:#77ACDD;}
#wrap #index .index1 {}
#wrap #index .index2 {background-image: url(../images/index/index1.png);}
#wrap #index .index3 {background-image: url(../images/index/index2.png);}
#wrap #index .index4 {background-image: url(../images/index/index3.png);}
#wrap #index .index5 {background-image: url(../images/index/index4.png);}
/* ----------------------------------------------------------------web_project_TONYMOLY */
#wrap .web_project {}
#wrap .web_project .web_container {
    background-image:url(../images/web/tonymoly_mockup_detail.jpg);
    background-position:center; background-size:cover;
    width:100%; height:100vh; padding:40px 150px 0;
}
#wrap .web_project .web_container .web_header {
    display:flex; justify-content:space-between;
    margin-bottom:120px;
}
#wrap .web_project .web_container .web_header .header_left {
    display:flex; gap:20px; align-items:center;
}
#wrap .web_project .web_container .web_header .header_left p {
    font-size:0.63rem; color:#c9c9c9;
}
#wrap .web_project .web_container .web_header .header_left p.active {
    font-size:0.75rem; color:#2E69A0; font-weight:500;
}
#wrap .web_project .web_container .web_header .header_left span {
    display:block; width:1px; height:6px;
    background:#C9C9C9;
}
#wrap .web_project .web_container .web_header .header_right {}
#wrap .web_project .web_container .web_header .header_right span {
    font-size:0.75rem; color:#2E69A0; font-weight:500;
}
#wrap .web_project .web_container .web_contents {}
#wrap .web_project .web_container .web_contents h2 {
    margin-bottom:40px;
}
#wrap .web_project .web_container .web_contents h2 img {}
#wrap .web_project .web_container .web_contents p {
    width:620px;
    font-size:0.75rem; font-weight:300px;
    line-height:1.8; color:#555;
}
#wrap .web_project .web_media {
        width:100%; padding:46.5px 300px;
}
#wrap .web_project .web_media .media_contents {
    display:flex; gap:15px; align-items:center;
    margin-bottom:30px;
}
#wrap .web_project .web_media .media_contents h3 {
    font-size:0.88rem; font-weight:300px; color:#2E69A0;
}
#wrap .web_project .web_media .media_contents p {
    font-size:0.75rem; font-weight:300px; color:#555;
}
#wrap .web_project .web_media .media_img {
    display:flex; gap:30px;
}
#wrap .web_project .web_media .media_img img {}
#wrap .web_project .web_media .media_img .img_line {
    display:flex;
}
#wrap .web_project .web_media .media_img .img_line .line_device {
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;
    gap:10px;
}
#wrap .web_project .web_media .media_img .img_line .line_device > p {}
#wrap .web_project .web_media .media_img .img_line .line_device .pixel {
    font-size:0.75rem; font-weight:300px; color:#2E69A0;
}
#wrap .web_project .web_media .media_img .img_line .line_device span {
    background:#2E69A0; width:10px; height:10px;
    border-radius:10px; display:block;
}
#wrap .web_project .web_media .media_img .img_line .line_device .device {
    font-size:0.88rem; color:#2E69A0;
}
/* ----------------------------------------------------------------web_project_TONYMOLY_description */
#wrap .web_project .web_description {}
#wrap .web_project .web_description .desc_left {}
#wrap .web_project .web_description .desc_left .left_top {}
#wrap .web_project .web_description .desc_left .left_top dl {}
#wrap .web_project .web_description .desc_left .left_top dl dt {}
#wrap .web_project .web_description .desc_left .left_top dl dd {}
#wrap .web_project .web_description .desc_left .left_top dl dd img {}
#wrap .web_project .web_description .desc_left .left_middle {}
#wrap .web_project .web_description .desc_left .left_middle h2 {}
#wrap .web_project .web_description .desc_left .left_middle .figma_url_btn {}
#wrap .web_project .web_description .desc_left .left_middle .figma_url_btn a {}
#wrap .web_project .web_description .desc_left .left_middle .figma_url_btn a span {}
#wrap .web_project .web_description .desc_left .left_bottom {}
#wrap .web_project .web_description .desc_left .left_bottom h2 {color:#333; font-size:0.88rem;}
#wrap .web_project .web_description .desc_left .left_bottom .web_url_btn {
    display:flex; gap:10px;
}
#wrap .web_project .web_description .desc_left .left_bottom .web_url_btn .proto_btn {
    display:flex; flex-flow:column nowrap;
}
#wrap .web_project .web_description .desc_left .left_bottom .web_url_btn .proto_btn .git_btn {
    width:160px; height:52px; border:1px solid #2E69A0;
    border-radius:30px; color:#2E69A0;
    line-height:52px; text-align:center;
}
#wrap .web_project .web_description .desc_left .left_bottom .web_url_btn .proto_btn .git_btn:hover {
    background:#2E69A0; color:#fff; font-weight:500;
}
#wrap .web_project .web_description .desc_left .left_bottom .web_url_btn .proto_btn .original_site {}
#wrap .web_project .web_description .desc_left .left_bottom .web_url_btn > a {
    width:160px; height:52px; background:#e9e9e9;
    border-radius:30px; color:#888;
    line-height:52px; text-align:center;
}
#wrap .web_project .web_description .desc_left .left_bottom .web_url_btn > a:hover {
    background:#b9b9b9; color:#333; font-weight:500;
}